<div class="header-wrapper">
  <div class="logo">
    <a href="{{ shop.url }}">
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
    </a>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/collections/all">Shop</a></li>
      <li><a href="/pages/about-us">About Us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
